{
  "extends": "stylelint-config-recommended",
  "processors": ["stylelint-processor-html"],
  "rules": {
       "value-no-vendor-prefix": true,
       "declaration-no-important": true,
       "declaration-block-single-line-max-declarations": [1],
       "max-nesting-depth": [0],
       "number-no-trailing-zeros": true,
       "number-leading-zero": ["never"],
       "indentation": [4],
       "comment-empty-line-before": ["always"],
       "at-rule-name-case": ["lower"],
       "rule-empty-line-before": ["never"],
       "block-opening-brace-space-before": ["always"],
       "selector-attribute-brackets-space-inside": ["never"],
       "selector-attribute-operator-space-after": ["never"],
       "selector-attribute-operator-space-before": ["never"],
       "selector-attribute-quotes": ["never"],
       "selector-combinator-space-after": ["always"],
       "selector-combinator-space-before": ["always"],
       "selector-descendant-combinator-no-non-space": true,
       "selector-pseudo-class-case": ["lower"],
       "selector-pseudo-class-parentheses-space-inside": ["never"],
       "selector-pseudo-element-case": ["lower"],
       "selector-pseudo-element-colon-notation": ["double"],
       "selector-type-case": ["lower"],
       "property-case": ["lower"],
       "unit-case": ["lower"],
       "value-keyword-case": ["lower"],
       "selector-list-comma-newline-after": ["never-multi-line"],
    }
}